defaults:
  - _self_
  - dataset: beaver_tails
  # - override hydra/launcher: submitit_slurm
  # - override hydra/sweeper: optuna
exp_ident: polytope_hb
model_path: None
rejection_logit_path: None
batch_size: 128
seed: 42
learning_rate: 0.0001
# Dataset
subset_size: 1.0
num_workers: 1
curate_label_distribution: false
curation:
  num_samples: 10000
  pos_sample_ratio: 0.5

# Model type: either 'polytope' or 'mlp'
model_type: polytope
# Polytope-specific parameters
entropy_weight: 1.0
valid_edges_threshold: 0.0
unsafe_weight: 2.0
use_nonlinear: true
entropy_assignment: true
feature_dim: 16384
f_l1_weight: 1.0
phi_l1_weight: 0.01
margin: 20.0
num_feature_extractor_layers: 1

hydra:
  run:
    dir: outputs/${dataset.short_name}/${now:%Y-%m-%d}/${exp_ident}-${now:%H-%M-%S}
  sweep:
    dir: multirun/${dataset.short_name}/${now:%Y-%m-%d}/${exp_ident}-${now:%H-%M-%S}
